Source: ${packageName}
Section: java
Priority: optional
Maintainer: Colin Harrington <colin@colinharrington.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.grails.org

Package: ${packageName}
Section: java
Architecture: all
Depends: sun-java6-jdk | openjdk-6-jdk, \${misc:Depends}
Description: A rapid web development platform built on Groovy
 Grails is a full stack framework and attempts to solve as many pieces of the web development puzzle through the core technology and its associated plug-ins. Included out the box are things like:
 . 
 An easy to use Object Relational Mapping (ORM) layer built on Hibernate.
 An expressive view technology called Groovy Server Pages (GSP).
 A controller layer built on Spring MVC.
 A command line scripting environment built on the Groovy-powered Gant.
 An embedded Tomcat container which is configured for on the fly reloading.
 Dependency injection with the inbuilt Spring container.
 Support for internationalization (i18n) built on Spring's core MessageSource concept.
 A transactional service layer built on Spring's transaction abstraction.
 All of these are made easy to use through the power of the Groovy language and the extensive use of Domain Specific Languages (DSLs).
 .
 This package provides the Grails platform.
